<button (click) = "hiddenButton()" class = "btn btn-primary right">Registrati</button>
<div class="container" *ngIf="mostraRegistrazione">
<form [formGroup] = "myForm" (ngSubmit) = "onSubmit()" class="jumbotron" style = "float:left;">
  <div class="form-group">
  Nome <input type = "text" [formControl] = "myForm.controls['nome']">
  <div *ngIf="!myForm.controls['nome'].valid" class="alert alert-danger">Nome is invalid
</div>
<div *ngIf="myForm.controls['nome'].hasError('required')" class="alert alert-danger">Nome is required
</div>
<br>
  Cognome <input type = "text" [formControl] = "myForm.controls['cognome']">
  <div *ngIf="!myForm.controls['cognome'].valid" class="alert alert-danger">Cognome is invalid
</div>
<div *ngIf="myForm.controls['cognome'].hasError('required')" class="alert alert-danger">Cognome is required
</div>
<br>
  Email <input type = "email" [formControl] = "myForm.controls['email']">
  <div *ngIf="!myForm.controls['email'].valid" class="alert alert-danger">Email is invalid
</div>
<div *ngIf="myForm.controls['email'].hasError('required')" class="alert alert-danger">Email is required
</div>
<br>
  Password <input type = "password" [formControl] = "myForm.controls['password']">
  <div *ngIf="!myForm.controls['password'].valid" class="alert alert-danger">Password is invalid
</div>
<div *ngIf="myForm.controls['password'].hasError('required')" class="alert alert-danger">Password is required
</div>
<br>
  Numero <input type = "text" [formControl] = "myForm.controls['numeri']">
  <div *ngIf="!myForm.controls['numeri'].valid" class="alert alert-danger">Numeri is invalid
</div>
<div *ngIf="myForm.controls['numeri'].hasError('required')" class="alert alert-danger">Numeri is required
</div>
  <button class = "btn btn-primary">Registrati</button>
  </div>
  <app-elenco [el] = "vettUtenti"></app-elenco>
</form>
</div>


<div class="container" *ngIf="mostraRegistrazione">
<form [formGroup] = "myForm2" (ngSubmit) = "onSubmit2(k)" class="jumbotron" style = "float:left;">
  <div class="form-group">
Email <input type = "email" [formControl] = "myForm2.controls['email2']">
  <div *ngIf="!myForm2.controls['email2'].valid" class="alert alert-danger">Email is invalid
</div>
<div *ngIf="myForm2.controls['email2'].hasError('required')" class="alert alert-danger">Email is required
</div>
Password <input type = "password" [formControl] = "myForm2.controls['password2']">
  <div *ngIf="!myForm2.controls['password2'].valid" class="alert alert-danger">Password is invalid
</div>
<div *ngIf="myForm2.controls['password2'].hasError('required')" class="alert alert-danger">Password is required
</div>

</div>
<button class = "btn btn-primary" >Login</button>
<button class = "btn btn-danger" *ngIf = "t" (click) = "logout()">Logout</button>
<h2>Benvenuto/a</h2>
  <p>{{vettLogin[0] | json}}</p>

</form>
<br>

<div class="container" style = "float: right;">
<form [formGroup] = "myForm3" (ngSubmit) = "onSubmit3()" class="jumbotron" *ngIf = "t; else logout">
  <dd >
    Inserisci commento: <input type = "text" [formControl] = "myForm3.controls['commento']">
    <button>Invia commento</button>
  </dd>
  <ng-template #logout >
    <h1>Non sei loggato</h1>
  </ng-template>
</form>
  <div *ngFor = "let commenti of vettCommenti;" >

    <p>
      {{commenti.nome}} {{commenti.cognome}} : {{commenti.commento}}<br>

      </p>
    <ul>
      <li *ngFor = "let r of commenti.vettRisposte">
        {{r.nome}} {{r.cognome}} --> {{r.risposta}}
        <div *ngIf="t">
        <input #ris>
        <button (click)="addRisposta(r.vettRisposte,ris)">Aggiungi commento</button>
      </div>
      </li>

    </ul>

  </div>
  <app-new-object [login] = "vettLogin"></app-new-object>


</div>
